[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/unindented/neovim-config
	branch = main
[submodule "vim"]
	path = vim
	url = https://github.com/unindented/vim-config
	branch = main
