config/*
!config/alacritty
!config/bat
!config/btop
!config/doom
!config/emacs
!config/git
!config/kitty
!config/lsd
!config/mise
!config/nvim
!config/tmux
config/tmux/plugins
!config/wezterm
!config/zellij
!config/starship.toml
local/*
!local/bin
ssh/*
!ssh/config
stack/*
!stack/config.yaml
