[submodule "config/doom"]
	path = config/doom
	url = https://github.com/unindented/doomemacs-config
[submodule "config/emacs"]
	path = config/emacs
	url = https://github.com/doomemacs/doomemacs
[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/unindented/neovim-config
[submodule "vim"]
	path = vim
	url = https://github.com/unindented/vim-config
