// ────────────── Environment ──────────────

environment {
    DISPLAY ":1"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    GTK_THEME "adw-gtk3-dark"
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "qt5ct"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
}

screenshot-path "~/Pictures/"
